$border1: #e0e0e0;
$border2: #ccc;
$font1: #a7a7a7;
$font2: #999;
$font3: #333;
$font4: #707070;
$white: #fff;
$gray: #666;
$gray2: #545454;
$black: #000;
$green: #093;
$darkYellow: #f90;


.container1 {
  width: 990px;
  margin: 20px auto;
  display: block;
}

.product {
  position: relative;
  float: left;
  width: 240px;
  height: 545px;
  border: 1px solid $border1;
  margin: 10px 5px 0;
  padding: 10px 10px 18px;
}

.product_horizontal {
  display: table;
  float: none;
  width: 99%;
  height: 240px;
  .product_code {
    position: absolute;
    top: 11px;
    left: 248px;
    font-size: 12px;
    color: $gray;
  }
  .product_photo {
    float: left;
    margin: 0;
  }
  .product_description {
    float: left;
    padding: 28px 70px 19px 19px;
    width: 505px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;

    a:hover {
      color: $black;
    }
  }
  .product_tags {
    display: block;
    float: left;
    width: 505px;
    padding: 0 0 65px 20px;
    line-height: 17px;
    p {
      display: inline-block;
      font-size: 13px;
      line-height: 16px;
      color: $gray2;
      font-weight: 700;
      margin: 0;
    }
    a {
      display: inline;
      font-size: 13px;
      line-height: 16px;
      color: $gray;
    }
  }
  .product_units {
    position: absolute;
    top: 130px;
    right: 12px;
    z-index: 9;
    .unit--wrapper {
      display: table;
      width: 100%;
      .unit--select {
        float: left;
        padding: 3px 5px;
        margin: 0 0 0 5px;
        cursor: pointer;
        p {
          font-size: 13px;
          line-height: 13px;
          color: $font4;
          border-bottom: 1px dotted $font4;
          margin: 0;
        }
      }
      .unit--active {
        background-color: $black;
        cursor: default;
        p {
          color: $white;
          border-bottom: 1px dotted transparent;
        }
      }
    }
  }
  .product_price_club_card {
    position: absolute;
    top: 40px;
    right: 8px;
    bottom: inherit;
    font-size: 25px;
    font-weight: 700;
    color: $black;
    margin: 0;
    line-height: 18px;
    .product_price_club_card_text {
      display: inline-block;
      font-weight: 400;
      font-size: 14px;
      text-align: right;
      line-height: 17px;
      margin-right: 16px;
    }
  }
  .product_price_default {
    position: absolute;
    top: 80px;
    right: 8px;
    bottom: inherit;
    color: $font1;
    font-size: 25px;
    margin: 0;
    line-height: 18px;
  }
  .product_price_points {
    display: block;
    position: absolute;
    top: 110px;
    right: 12px;
    p {
      font-size: 12px;
      line-height: 17px;
      color: $font2;
      margin: 0;
    }
  }
  .list--unit-padd {
    display: table;
    width: 1px;
    height: 275px;
  }
  .list--unit-desc {
    position: absolute;
    bottom: 95px;
    right: 10px;
    width: auto;
    background: $white;
    border: 1px solid $border2;
    padding: 5px 10px;
    margin: 10px 0 5px;

    .unit--desc-i {
      display: inline-block;
      vertical-align: top;
      width: 15px;
      height: 15px;
      margin: 8px 10px 0 0;
      background: url(../images/icons/product/unit--i.png) 50% no-repeat;
      background-size: cover;
    }
    .unit--desc-t {
      display: inline-block;
      p {
        font-size: 13px;
        line-height: 15px;
        margin: 0 0 18px;
        span {
          display: block;
        }
      }
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
  .list--unit-desc:after,
  .list--unit-desc:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -7px;
    width: 0;
    height: 0;
    border-top: 8px solid;


  }
  .list--unit-desc:before {
    border-color: $border2;
    color: $border2;
    margin-bottom: -1px;
    left: 13px;
    border-left: 8px solid transparent!important;
    border-right: 8px solid transparent!important;
  }
  .list--unit-desc:after {
    border-color: $white;
    left: 14px;
    border-left: 7px solid transparent!important;
    border-right: 7px solid transparent!important;
  }
  .product_count_wrapper {
    display: inline-block;
    position: absolute;
    left: auto;
    right: 164px;
    bottom: 50px;
    border: 1px solid $border2;
    background: $white;
    line-height: 37px;
    height: 40px;
    width: 67px;

    .stepper {
      position: relative;
      margin: 0 0 10px;
      overflow: hidden;
      .stepper-input {
        border: none;
        color: $font3;
        font-size: 13px;
        line-height: 1.2;
        overflow: hidden;
        margin: 0;
        padding: 12px 0 10px;
        width: 40px;
        z-index: 49;
      }
      .stepper-arrow  {
        display: block;
        position: absolute;
        right: 0;
        background: url(../images/templates/jquery.fs.stepper-arrows.png) no-repeat $white;
        border: 1px solid $border2;
        cursor: pointer;
        height: 50%;
        text-indent: -99999px;
        width: 25px;
        z-index: 50;
      }

      .stepper-arrow:hover {
        background: url(../images/templates/jquery.fs.stepper-arrows.png) no-repeat $gray;
      }

      .up:hover {
        background-position: -2px 0;
      }
      .down:hover {
        background-position: -2px -20px;
      }
      .up {
        position: absolute;
        top: 0;
        background-position: -28px 0;
        border-bottom: none;
        border-top: none;
        border-right: none;
      }
      
      .down {
        position: absolute;
        bottom: 0;
        background-position: -28px -20px;
        border-bottom: none;
        border-right: none;
      }

    }
  }
  .btn {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    border: none;
    vertical-align: middle;
    padding: 0 25px;
    font-size: 14px;
    text-decoration: none;
  }
  .btn_cart {
    position: absolute;
    right: 10px;
    bottom: 50px;
    width: 148px;
    font-size: 14px;
    padding: 0 0 0 20px;
    cursor: pointer;
    background: $darkYellow;
    color: $white;
    .ic_cart {
      position: absolute;
      top: 5px;
      left: 10px;
      width: 25px;
      height: 30px;
      background: url(../images/templates/shopping_cart.png) no-repeat;
      background-size: 100%;
      font-size: 20px;
    }
  }
  .btn_cart:hover {
    background: $font3;
    transition: ease-in 0.3s;
  }
  .btn_cart:active {
    background: $green;
    transition: ease-in 0.2s;
  }
}

.product_status_tooltip_container {
  float: right;
  margin-top: 0;
}

.product_status {
  cursor: pointer;
  color: $green;
  border-bottom: 1px dotted $green;
  text-decoration: none;
}

.product_photo {
  text-align: center;
  position: relative;
  width: 220px;
  height: 220px;
  a {
    display: block;
  }
  img {
    max-width: 160px;
    max-height: 160px;
  }
}

.url--link {
  cursor: pointer;
}

a {
  color: $black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  border: 0;
}

input {
  text-align: center;
  border-radius: 0;
}

@import "media.scss";